<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Smart Bitly</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/home.js"></script>
</head>

<body>

<div id="page">

    <h1>Smart Bitly</h1>

    <form id="searchForm" method="post" >
        <h4>Search</h4>
		<fieldset>

           	<input id="s" type="text" />

            <input type="submit" value="Submit" id="submitButton" />


        </fieldset>
    </form>

    <div id="resultsDiv"></div>

</div>

<!-- It would be great if you leave the link back to the tutorial. Thanks! -->
<p class="credit"><a href="http://tutorialzine.com/2010/09/google-powered-site-search-ajax-jquery/">Powered by Tzine &amp; Google</a></p>



</body>
</html>
