<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>

<audio id = "audio" controls>
  <source id="sources" src="https://watson-api-explorer.mybluemix.net/text-to-speech/api/v1/synthesize?accept=audio%2Fogg%3Bcodecs%3Dopus&voice=es-ES_EnriqueVoice&text=%20You%20authenticate%20to%20the%20service%20by%20using%20your%20service%20credentials.%20You%20can%20use%20your%20credentials%20to%20authenticate%20via%20a%20proxy%20server%20that%20resides%20in%20Bluemix%2C%20or%20you%20can%20use%20your%20credentials%20to%20obtain%20a%20token%20and%20contact%20the%20service%20directly." type="audio/ogg">
  </audio>
	</body>
</html>