<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Smart Bitly</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
	
<div id="page">
    <div id="searchForm">
    	<a href="{{ url }}">Link here</a></br></br>
        <a href="/html/es/{{ uuid }}">Translate to Spanish</a></br>
        <a href="/html/fr/{{ uuid }}">Translate to French</a></br>
        <a href="/html/ja/{{ uuid }}">Translate to Japanese</a></br>
        <a href="/html/it/{{ uuid }}">Translate to Italian</a></br>
        <a href="/html/de/{{ uuid }}">Translate to Germain</a></br>
        <a href="/html/pt/{{ uuid }}">Translate to Portuguese</a></br></br>

        <a href="/html/audio/en/{{ uuid }}">Get Audio</a></br>
        <a href="/html/audio/es/{{ uuid }}">Get Audio with translation to Spanish</a></br>
        <a href="/html/audio/fr/{{ uuid }}">Get Audio with translation to French</a></br>
        <a href="/html/audio/ja/{{ uuid }}">Get Audio with translation to Japanese</a></br>
        <a href="/html/audio/it/{{ uuid }}">Get Audio with translation to Italian</a></br>
        <a href="/html/audio/de/{{ uuid }}">Get Audio with translation to Germain</a></br>
        <a href="/html/audio/pt/{{ uuid }}">Get Audio with translation to Portuguese</a>


    </div>
</div>
</body>

</html>
