<!DOCTYPE html>
<html>

<body>
	
	<form action="/action_page.php" id = "form0">
    	<div id = "Link">
        Link
    		<input type="text" name="Link"><br>
        </div>
        
        <div id = "sourceLanguage">
        From:
          <select>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        
        <div id = "translatedLanguage">
       To:
           <select>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
          </select>
		</div>
        <div id = checkbox>
          <input type="checkbox" name="textCheck" >Only Text<br>
          <input type="checkbox" name="adsCheck"  >Remove Ads<br> 
          <input type="checkbox" name="autoReader" > Automatically Read in Translated Language <br>
         <button type="submit"  value="Submit">Submit</button>

    </form>
</body>

</html>
